.sprite-img._android {
    width: 62px;
    height: 79px
}

.sprite-img._android-outline {
    width: 39px;
    height: 50px;
    fill: #161616
}

.overflow-hidden {
    overflow: hidden
}

.home-page__section-content._padding-top {
    padding-top: 90px
}

.home-page__section-content._appreciated {
    padding-top: 150px
}

.home-page__section-content p {
    font-size: 16px
}

.home-page-header {
    padding-top: 150px;
    padding-bottom: 215px
}

#js-animation,
.home-page-header__image {
    position: absolute;
    top: -250px;
    left: -320px;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in
}

.home-page-header__image {
    opacity: 1
}

#js-animation canvas {
    background: transparent !important
}

.home-page-header__pre-text {
    font-size: 22px;
    margin-bottom: 20px;
    color: #afb1b3
}

.home-page__h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    letter-spacing: -2px;
    margin-bottom: 50px;
    color: #161616
}

.home-page__h1._small {
    font-size: 70px;
    line-height: 70px
}

.home-page__h1._color-light {
    color: #fff
}

.home-page__h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 0;
    margin-bottom: 50px
}

.home-page__h2._color-light {
    color: #fff
}

.home-page__h3 {
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 35px
}

.home-page__h3._color-light {
    color: #fff
}

.home-page__h4 {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    margin-top: 11px;
    margin-bottom: 15px;
    color: #161616
}

.home-page__h4._color-light {
    color: #fff
}

.home-page-header__top-products {
    line-height: 22px;
    margin-top: 200px;
    color: #afb1b3
}

.home-page-header__top-products>a {
    display: block;
    text-decoration: none;
    color: #afb1b3
}

.home-page-products {
    padding-top: 140px
}

.new-release-box {
    height: 280px;
    margin-top: -280px;
    margin-bottom: 100px
}

.product-card {
    font-size: 15px;
    line-height: 25px;
    -ms-flex-line-pack: center;
    align-content: center;
    position: relative;
    height: 280px;
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    color: #343434;
    -webkit-transform: translateY(0);
    transform: translateY(0)
}

.product-card:hover {
    text-decoration: none
}

.product-card._kotlinconf {
    background-size: 295px auto;
    background-position: 100% 100%
}

.product-card-kotlinconf__img {
    max-width: 390px
}

.product-card._kotlinconf:hover .product-card__text {
    -webkit-transform: translateY(10px) translateZ(0);
    transform: translateY(10px) translateZ(0)
}

.product-card._kotlinconf:hover .product-card__button {
    margin-top: 15px
}

._kotlinconf .product-card__text {
    -webkit-transform: translateY(50px) translateZ(0);
    transform: translateY(50px) translateZ(0);
    height: 340px
}

._kotlinconf .product-card__button {
    margin-top: 85px
}

.product-card__item {
    -ms-flex-line-pack: justify;
    align-content: space-between;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    height: 280px;
    padding: 30px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

.product-card__item>h3 {
    -ms-flex-preferred-size: auto;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.product-card__h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #161616
}

.product-card__h2._color-light {
    color: #fff
}

.product-card__h2._product-card-kotlinkonf-2018 {
    padding-left: 90px;
    position: relative
}

.product-card__h2._product-card-kotlinkonf-2018:before {
    position: absolute;
    left: 0;
    width: 65px;
    height: 65px;
    background: transparent url(/img/banners-home-page/product-logo-kotlinkonf.svg) no-repeat;
    background-size: 65px 65px;
    content: ""
}

.product-card__text {
    color: #343434;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    -webkit-transform: translateY(70px) translateZ(0);
    transform: translateY(70px) translateZ(0)
}

.product-card:hover .product-card__text {
    -webkit-transform: translateY(0) translateZ(0);
    transform: translateY(0) translateZ(0)
}

.product-card__text._color-light {
    color: #fff
}

.product-card__button {
    margin-top: 20px
}

.quick-links-box__title {
    text-decoration: none
}

.quick-links-box__item {
    font-size: 16px
}

.quick-links-box__item:active,
.quick-links-box__item:focus,
.quick-links-box__item:hover {
    text-decoration: none;
    color: #919191
}

.quick-links-box__item:active>p,
.quick-links-box__item:focus>p,
.quick-links-box__item:hover>p {
    text-decoration: underline
}

.home-page-awards {
    margin-bottom: 30px
}

.home-page-awards>li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px
}

.home-page-awards__img {
    display: block;
    margin: auto
}

.page__beam._appreciated_beam {
    -webkit-transform: translate(-150px, -430px);
    transform: translate(-150px, -430px)
}

.page__beam._appreciated_beam svg {
    position: absolute;
    left: 50%;
    width: 1373px;
    height: 708px;
    margin-left: -686.5px
}

.globally-appreciated-img {
    position: absolute;
    top: -50px;
    left: -90px
}

.home-page-customer-say-small {
    margin-bottom: 50px;
    margin-top: 50px
}

.home-page-customer-say-small__img {
    max-width: 100%;
    margin-top: -50px
}

.home-page-customer-say-small__img>img {
    max-width: 100%
}

.home-page-select {
    margin-top: 50px
}

.button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-right: -8px
}

.button-list__item {
    margin-right: 16px;
    margin-bottom: 16px
}

.product-banners {
    margin-bottom: -160px
}

.product-banners,
.product-banners__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.product-banners__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 50%;
    min-height: 260px;
    padding: 35px 42px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #161616;
    background-repeat: no-repeat
}

.product-banners__item._toolbox {
    background-image: url("data:image/svg+xml,%3Csvg data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32'%3E%3Cdefs%3E%3ClinearGradient id='a' x1='2.18' y1='23.255' x2='30.041' y2='8.782' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='.043' stop-color='%23ff8618'/%3E%3Cstop offset='.382' stop-color='%23ff246e'/%3E%3Cstop offset='.989' stop-color='%23af1df5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ctitle%3EToolBox_trayIcon_colour_32-01%3C/title%3E%3Cpath d='M26,22.4713l-6.83,3.8311V23.2578L26,19.4268v3.0445Z' fill='%23fff'/%3E%3Cpath fill='%23000001' d='M16 32.076L30 24.065 30 8.057 16 16.067 16 32.076z'/%3E%3Cpath fill='%23fff' d='M18.925 24.641L18.925 27.041 25.026 23.55 25.026 21.15 18.925 24.641z'/%3E%3Cpath fill='url(%23a)' d='M16 0.076L2 8.057 2 8.057 2 8.057 2 24.065 16 32.076 16 16.067 30 8.057 16 0.076z'/%3E%3C/svg%3E");
    background-size: 131px 131px;
    background-position: 87% 39px
}

.product-banners__item._annual-report {
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3C?xml version='1.0' encoding='utf-8'?%3E %3C!-- Generator: Adobe Illustrator 17.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E %3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E %3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='96px' height='96px' viewBox='0 0 96 96' enable-background='new 0 0 96 96' xml:space='preserve'%3E %3Cg%3E %3ClinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='10.48444' y1='10.458833' x2='79.556068' y2='79.530457'%3E %3Cstop offset='0.330569' style='stop-color:%23FF8C00'/%3E %3Cstop offset='0.428689' style='stop-color:%23FD7F13'/%3E %3Cstop offset='0.626643' style='stop-color:%23F85C43'/%3E %3Cstop offset='0.861626' style='stop-color:%23F22E83'/%3E %3C/linearGradient%3E %3Cpath fill='url(%23SVGID_1_)' d='M85.010506,40.96513H69.463501c-7.94363,0-14.383198-6.439625-14.383198-14.383253V11.034868 C55.080303,7.149549,51.930641,4,48.045376,4h-0.000053c-3.885265,0-7.034927,3.149549-7.034927,7.034868V27.6579 c0,7.349398-5.957779,13.30723-13.307117,13.30723H11.08019c-3.885263,0-7.034925,3.149551-7.034925,7.03487 s3.149662,7.03487,7.034925,7.03487h17.643394c6.785831,0,12.286812,5.501095,12.286812,12.286922v17.643341 C41.010395,88.850449,44.160057,92,48.045322,92h0.000053c3.885265,0,7.034927-3.149551,7.034927-7.034866V68.24044 c0-7.293118,5.912285-13.20557,13.205517-13.20557h16.724686c3.885269,0,7.034927-3.149551,7.034927-7.03487 S88.895775,40.96513,85.010506,40.96513z M21.545492,28.844793c3.557537,0,6.441534-2.883997,6.441534-6.441534 s-2.883997-6.441534-6.441534-6.441534s-6.441534,2.883997-6.441534,6.441534S17.987955,28.844793,21.545492,28.844793z M72.617653,67.03389c-3.557533,0-6.441528,2.883995-6.441528,6.441536c0,3.557533,2.883995,6.441528,6.441528,6.441528 c3.557541,0,6.441536-2.883995,6.441536-6.441528C79.059189,69.917885,76.175194,67.03389,72.617653,67.03389z M70.045715,32.584084c1.530403,0,3.061707-0.584124,4.22995-1.751472l11.335594-11.33559 c2.335594-2.336494,2.335594-6.123411,0-8.459906c-2.336494-2.334697-6.123413-2.334697-8.459908,0l-11.335594,11.33559 c-2.33559,2.336494-2.33559,6.123411,0,8.459906C66.984009,31.99996,68.515312,32.584084,70.045715,32.584084z M21.938202,65.330048L10.602612,76.665634c-2.335595,2.336494-2.335595,6.123413,0,8.459908 c1.168247,1.167351,2.69955,1.751472,4.229953,1.751472s3.061707-0.584122,4.229952-1.751472l11.33559-11.335594 c2.335596-2.336494,2.335596-6.123405,0-8.4599C28.061615,62.99535,24.274696,62.99535,21.938202,65.330048z'/%3E %3C/g%3E %3Crect x='0.045349' fill='none' width='96' height='96'/%3E %3C/svg%3E");
    background-size: 131px 131px;
    background-position: 93% 39px
}

.product-banners__title {
    width: 60%;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #161616
}

.product-banners__title._color-light {
    color: #fff
}

.product-banners__text {
    width: 70%;
    font-size: 16px
}

.product-banners__text._color-light {
    color: #fff
}

.product-banners__btn-wrap {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end
}

.technologies-support-title {
    margin-bottom: 35px
}

.technologies-support-box,
.technologies-support-box__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.technologies-support-box__item {
    font-size: 14px;
    line-height: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 25px 25px 15px;
    min-height: 130px;
    text-align: center;
    width: 33%;
    -ms-flex-preferred-size: 33%;
    flex-basis: 33%;
    max-width: 33%;
    background-color: #fff;
    color: #696969;
    border-left: 1px solid #eaeaec;
    border-bottom: 1px solid #eaeaec;
    position: relative
}

.technologies-support-box__item ._dotnet-outline {
    margin-top: 17px
}

.technologies-support-box__item:after {
    display: none;
    margin: 0 auto;
    position: relative;
    text-decoration: underline;
    content: "See All";
    color: #b8bcbf
}

.technologies-support-box__item:hover {
    background-color: #161616;
    text-decoration: none;
    color: #696969
}

.technologies-support-box__item:hover:after {
    display: block
}

.technologies-support-box__item:hover .technologies-support-box__title {
    display: none
}

.technologies-support-box__item:hover .sprite-img {
    fill: #eaeaec !important
}

.technologies-support-box__item>* {
    width: 100%;
    max-width: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.sprite-img._apple {
    width: 58px;
    height: 71px
}

.sprite-img._apple-outline {
    width: 37px;
    height: 42px;
    fill: #161616
}

.sprite-img._dotnet-outline {
    width: 50px;
    height: 20px;
    fill: #161616
}